@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);
}

*: {
  font-family: var(--font-geist-sans);
}

:root {
  --sh-class: #82aaff;
  --sh-identifier: #d6deeb;
  --sh-sign: #7fdbca;
  --sh-property: #addb67;
  --sh-entity: #ffcb8b;
  --sh-jsxliterals: #c792ea;
  --sh-string: #ecc48d;
  --sh-keyword: #ff5874;
  --sh-comment: #5c6773;
}

.markdown > * {
  all: revert;
}