@import "tailwindcss";
@plugin '@tailwindcss/typography';

:root {
    /* Loading variables */
    --uib-size: 37px;
    --uib-color: oklch(98.5% 0 0);
    --uib-speed: 0.9s;
    --uib-bg-opacity: 0.1;
}

/* Loading classes */
.loading__container {
    height: var(--uib-size);
    width: var(--uib-size);
    transform-origin: center;
    overflow: visible;
}

.loading__car {
    fill: none;
    stroke: var(--uib-color);
    stroke-dasharray: 15, 85;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: loadingTravel var(--uib-speed) linear infinite;
    will-change: stroke-dasharray, stroke-dashoffset;
    transition: stroke 0.5s ease;
}

.loading__track {
    stroke: var(--uib-color);
    opacity: var(--uib-bg-opacity);
    transition: stroke 0.5s ease;
}

@keyframes loadingTravel {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: -100;
    }
}

.custom-scrollbar::-webkit-scrollbar {
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(63, 63, 70, 0.5);
    border-radius: 3px;
    transition: background 0.2s;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(82, 82, 91, 0.8);
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(63, 63, 70, 0.5) transparent;
}
